.app-page {
  &__header {
    text-align : center;
    font-size  : 2rem;
  }

  &__content {
    figure {
      margin : 0;

      &.alignleft {
        float        : left;
        margin-right : 2rem;
      }

      &.alignright {
        float       : right;
        margin-left : 2rem;
      }

      figcaption {
        margin     : 1rem 0 0;
        font-size  : .75rem;
        text-align : center;
        color      : #aaa;
      }
    }

    p {
      line-height : 2.2;
      margin      : 2rem auto;
    }

  }
}
