.app-post {
  &__title,
  &__date {
    margin     : 2rem 0;
    text-align : center;
  }

  &__title {
    font-size   : 2rem;
    font-weight : bold;
  }

  &__date {
    font-size : .75rem;
  }

  @keyframes app-post__content-figure-img--entrance {
    from {
      transform : translateY(1rem);
    }
  }

  &__content {
    img {
      display   : block;
      max-width : 100%;
      margin    : 0 auto;
    }

    figure {
      text-align : center;
      margin     : 0;

      img {
        animation : app-post__content-figure-img--entrance .4s ease;
      }

      figcaption {
        margin     : 2rem 0 0 0;
        font-style : italic;
        font-size  : .75rem;
      }
    }

    > p,
    blockquote {
      max-width : 50rem;
    }

    > p {
      line-height : 2.2;
      margin      : 2rem auto;
    }

    blockquote {
      font        : 2rem 'Noto Serif SC', serif;
      color       : #aaa;
      border-left : 4px solid #f9f9f9;
      padding     : 0 2rem;
      margin      : 4rem auto;
    }

    hr {
      border     : none;
      height     : 1px;
      background : #eee;
      margin     : 2rem auto;
      max-width  : 80%;
      width      : 6rem;
    }
  }
}
