@import '../components/variables';

.app-post {
  &__title,
  &__date {
    text-align : center;
  }

  &__title {
    margin         : 0;
    font-size      : 2rem;
    font-weight    : bold;
    text-transform : uppercase;
  }

  &__date {
    font-size      : .75rem;
    text-transform : uppercase;
  }

  @keyframes app-post__content-figure-img--entrance {
    from {
      transform : translateY(1rem);
    }
  }

  &__content {
    img {
      display   : block;
      max-width : 100%;
      margin    : 0 auto;
    }

    figure {
      text-align : center;
      margin     : 2rem 0;

      img {
        animation : app-post__content-figure-img--entrance .4s ease;
      }

      figcaption {
        margin    : .5rem 0 0 0;
        font-size : .75rem;
      }
    }

    > p,
    blockquote {
      line-height : 1.8;
      text-align  : justify;
      margin      : 2rem 0;
      color       : #222;
    }

    blockquote {
      font-style : italic;
      color      : #aaa;
      font-size  : 1.2rem;
      text-align : center;
      display    : block;
    }

    hr {
      border     : none;
      height     : 1px;
      background : #eee;
      margin     : 2rem auto;
      max-width  : 80%;
      width      : 6rem;
    }
  }

  &__comments-toggle {
    font       : inherit;
    display    : block;
    width      : 100%;
    cursor     : pointer;
    background : #eee;
    color      : #000;
    border     : none;
    padding    : .25rem;
    outline    : none;
    font-size  : .85rem;

    &:focus {
      outline : 1px solid $primary-color;
    }
  }
}
