@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700');
@import '../components/variables';

* {
  box-sizing          : border-box;
  transition          : .2s ease;
  transition-property : color, background-color, opacity, visibility, transform;
}

::selection {
  color      : #fff;
  background : #000;
}

html {
  font : 16px 'Hind Siliguri', sans-serif;
}

body {
  margin     : 0;
  cursor     : default;
  background : #fafafa;
}

a {
  color           : $primary-color;
  text-decoration : none;

  &:hover,
  &:focus {
    color : darken($primary-color, 10%);
  }
}

@keyframes app__body--entrance {
  from {
    opacity : 0;
  }
}

.app {
  max-width      : 700px;
  padding        : 4rem 2rem;
  margin         : 0 auto;
  overflow-wrap  : break-word;
  display        : flex;
  flex-direction : column;
  align-items    : center;

  &__header {
    background    : $primary-color;
    padding       : .5rem;
    line-height   : 1;
    color         : #fff !important;
    font-size     : 1rem;
    clip-path     : polygon(0% 100%, 2% 2%, 100% 2%, 98% 86%);
    border-radius : 5px;

    &:hover,
    &:focus {
      background : lighten($primary-color, 5%);
    }
  }

  &__body {
    margin    : 2rem 0 0;
    width     : 100%;
    animation : app__body--entrance .4s ease;
  }
}
