@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif+SC');

$primary-color : #df1e40;
$secondary-color : #222;

* {
  box-sizing          : border-box;
  transition          : .2s ease;
  transition-property : color, background-color, opacity, visibility, transform;
}

::selection {
  color      : #fff;
  background : #000;
}

html {
  font : 16px 'Noto Sans', sans-serif;
}

body {
  margin : 0;
  cursor : default;
}

a {
  color           : $primary-color;
  text-decoration : none;
}

@keyframes app__body--entrance {
  from {
    transform : translateY(1rem);
    opacity   : 0;
  }
}

.app {
  max-width      : 1024px;
  padding        : 4rem 1rem;
  margin         : 0 auto;
  overflow-wrap  : break-word;
  display        : flex;
  flex-direction : column;
  align-items    : center;

  &__header {
    color          : $primary-color;
    font-size      : 3rem;
    font-weight    : bold;
    letter-spacing : 1rem;
  }

  &__nav {
    width  : 100%;
    margin : 2rem 0 0;

    &::after {
      display    : block;
      margin     : 2rem auto 0;
      content    : '';
      width      : 4rem;
      height     : 1px;
      background : #eee;
    }
  }

  &__body {
    width     : 100%;
    animation : app__body--entrance .6s ease;
  }
}
